<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Glamoure
        </title>

        <link rel="stylesheet" href="bootstrap\css\bootstrap.css">
        <script src="bootstrap\js\bootstrap.bundle.js"></script>
        <link rel="stylesheet" href="bootstrap\css\styles.css">
        <link rel="stylesheet" href="bootstrap\js\bootstrap.js">
    </head>
    <body class="cuerpo">
        <nav class="navbar mx-auto d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">

                            <ul>
                                <li class="lista"><a class="link" href="C:\WinNMP\WWW\glamoure\index.html">Inicio</a></li>
                                <li class="lista"><a class="link" href="views/template/agendar.html">Agendar cita</a></li>
                                <li class="lista"><a href="#"><img
                                            class="logotipo"
                                            src="images/ESTETICA.png"
                                            alt="logotipo-estetica"></a></li>
                                <li class="lista"><a class="link" href="views/template/contacto.html">Contacto</a></li>
                                <li class="lista"><a class="link" href="views/template/info.html">Sobre
                                        nosotros</a></li>
                            </ul>
                        </nav>
                  
          
    </body>
</html>